extends layout

block content
    if role === 'leiding'
        h1 Overzicht van inschrijvingen
        if inschrijvingen.length > 0
            .table-container
                table(border="1", cellpadding="5", cellspacing="0" align="center")
                    thead
                        tr
                            th Naam
                            th Voornaam
                            th Email
                            th Woonplaats
                    tbody
                        each inschrijving in inschrijvingen
                            tr
                                td= inschrijving.naam
                                td= inschrijving.voornaam
                                td= inschrijving.email
                                td= inschrijving.woonplaats
        else
            p Er zijn nog geen inschrijvingen gevonden.
    else
        h1 Inschrijven
        form(action="/inschrijven/verzendSignUpForm", method="post" id = "signupForm" enctype="application/x-www-form-urlencoded") 
            p 
                label(for="naam") Naam: 
                input(type="text", name="naam" required placeholder="Voer uw achternaam in") 
            p 
                label(for="naam") Voornaam: 
                input(type="text", name="voornaam" required placeholder="Voer uw voornaam in")  
            p 
                label(for="email") Email: 
                input(type="email", name="email" required placeholder="Voer uw email in") 
            p 
                label(for="woonplaats") Woonplaats:
                input(type="text", name="woonplaats" required placeholder="Voer uw woonplaats in") 
            p
                input(type="hidden" id="recaptchaToken" name="recaptchaToken")
                button(type="submit" class="g-recaptcha" 
            data-sitekey="6Ldago4qAAAAAF-orBusaWgdub8F48vV5oS1rld-" 
            data-callback="onSubmit" 
            data-action="submit") verzend
            p Na deze inzending komen wij bij u thuis langs voor u meer informatie te geven over onze scouts.
        
            script (src="/javascripts/inschrijvenfe.js")

            div.responsive-iframe-container(align='center')
                iframe(
                    width="950" 
                    height="1200" 
                    src="https://groepsadmin.scoutsengidsenvlaanderen.be/groepsadmin/lidworden?groep=W2301G" 
                    frameborder="0" 
                    allowfullscreen
                )
    
